
@model IEnumerable<Stories>

@{ 
    Layout = null;
}


<html>
<head>
    <title> Stories and Reviews </title>
</head>
<body>
    List of Stories:

    

    @foreach (Stories s in Model)
    {
        <h2>@s.Name</h2><br />

        @s.Story <br />
        <b>Comments</b>
        <br />
        @foreach (Comment c in s.Comments)
        {
            @s.Comments <br />


        }
        <br />
        
        <a href="/Stories/AddComment">Add A Comment!</a>

    }

    <br>
    <a href="/Home">Home</a>
    <a href="/Sources/Links">Links</a><br />
    <a href="/Sources/Books">Books</a>
    
</body>
</html>
