
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<p>
    <h2>Books on Steve Jobs</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
        <tr>
            <td>Steve Jobs</td>
            <td>10/24/2011</td>
            <td>Walter Isaacson</td>
        </tr>
        <tr>
            <td>A Bite in the Apple</td>
            <td>2013</td>
            <td>Chrisann Brennan</td>
        </tr>
    </table>


</p>

