
@{
    ViewData["Title"] = "Links";
}

<h2>Links</h2>

<p>
    <h2>Popular on the web</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Link</th>
            
        </tr>
        <tr>
            <td>Steve Jobs Wiki</td>
            <td><a href="https://en.wikipedia.org/wiki/Steve_Jobs">Steve Jobs</a></td>
            
        </tr>
        <tr>
            <td>Apple's Site</td>
            <td><a href="https://www.apple.com/">Apple</a></td>
            
        </tr>
    </table>
    
</p>