
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>FanSite!</title>
</head>
<body>
    <h1>Read some Iconic Stories!</h1>
    
    
    <p>
        Do you have any stories to tell about our Icon?
        <a href="Stories/AddStory">post a Story!</a><br />
        Look at the comments!
        <a href="/Stories/Index">Check Comments!</a>
    </p>
    <nav>
        <h3>Navigation:</h3>
        <a href="Home/History">Some History about or Icon!</a><br />
        
        
    </nav>
</body>
</html>

