
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>FanSite!</title>
</head>
<body>
    <h3>Read some Iconic Stories!</h3>
    
    
    <p>
        Do you have any stories to tell about our Icon?
        <a href="Stories/AddStory">Post a Story!</a><br />
        Look at the comments!
        <a href="Stories/Index">Check Our Current Stories!</a><br />
        Add a Comment!
        <a href="Stories/AddComment">Add a Comment!</a>


    </p>
    <nav>
        <h4>Navigation:</h4>
        <a href="Home/History">Some History about or Icon!</a><br />
        <a href="Sources/Books">Some books on Steve Jobs!</a><br />
        <a href="Sources/Links">Links</a><br />
        <a href="Stories/AddComment">Add a Comment!</a>
        
        
    </nav>
</body>
</html>

