
@{
    ViewData["Title"] = "Stories";
}

<html>
<head>
    <title>Add a Story</title>
</head>
<body>
    <form method="post">
        <label for="title">Title</label>
        <br />
        <input name="title" /><br />
       
        <textarea for="story">Story</textarea><br />
        <br />
        
        <input type="submit" value="Enter" />
    </form>
    <p>In the future, you'll be able to post a review here</p>
    <a href="Index">Back to the list of stories</a>
</body>
</html>
