
@model List<Stories>

@{
    Layout = null;
 }

<!DOCTYPE html>
<html>
<head>
    <title>Stories and Reviews</title>
</head>
<body>
    List of Stories:

    @foreach (Stories story in Model)
    {
        @story.Name; <br />
        @story.Story; <br />       
        <br />
    }
    <br> 
    <a href="/Home">Home</a>
</body>
</html>
